chromadb
rank-bm25
sentence-transformers==2.7.0
transformers==4.41.2
huggingface-hub==0.23.4

fastapi
uvicorn[standard]

python-dotenv
tqdm
markdown-it-py
PyYAML

langchain
langchain-community
langchain_core
langchain_ollama
langchain-openai
langchain-huggingface

pydantic
uuid

ollama

ragas
datasets

streamlit
requests